body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: "Noto Serif JP", serif;
    cursor: none !important;
}

canvas {
    display: block;
    cursor: none !important;
}

@media (max-width: 768px) or (pointer: coarse) {
    .cursor {
        display: none;
    }
}